// 全局样式 - 只放通用class

// 所有UI组件
*[class*="UI-"]{
  // border: 1px solid red !important;
  // box-sizing: border-box !important;
}
// 所有UI组件-所有子元素
*[class*="UI-"] *{
  // border: 1px solid green !important;
  // box-sizing: border-box !important;
}
// 所有UI组件-子元素
*[class*="UI-"] *[class*="ui-"]{
  // border: 1px solid blue !important;
  // box-sizing: border-box !important;
}

// ------------------------- 公共属性 -------------------------


._cl-000 {color: #000 !important}
._cl-fff {color: #fff !important}
._cl-f63f3f {color: #f63f3f !important}
._cl-0173fb {color: #0173fb !important}
._cl-3c3e45 {color: #3c3e45 !important}
  
._cl-aaaaaa {color: #aaaaaa !important}
._cl-1890ff {color: #1890ff !important}
._cl-66bb6a {color: #66bb6a !important}
._cl-42a5f5 {color: #42a5f5 !important}
._cl-7e57c2 {color: #7e57c2 !important}
._cl-ff7043 {color: #ff7043 !important}
// ---
._bc-000 {background-color: #000 !important}
._bc-fff {background-color: #fff !important}
._bc-f63f3f {background-color: #f63f3f !important}
._bc-0173fb {background-color: #0173fb !important}
._bc-3c3e45 {background-color: #3c3e45 !important}
// ---
._bdc-000 {border-color: #000 !important}
._bdc-fff {border-color: #fff !important}

._bdc-success {border-color: #66cc00 !important}
._bdc-info {border-color: #56adec !important}
._bdc-warning {border-color: #ffc107 !important}
._bdc-error {border-color: #ff2200 !important}


._pa {position: absolute}
._pr {position: relative}
._fl {float: left}
._fr {float: right}
._tl {text-align: left}
._tc {text-align: center}
._tr {text-align: right}
._nomg {margin: 0 !important}
._nopd {padding: 0 !important}
._nobd {border: 0 !important}

._patlw
  position absolute
  top 0
  left 0
  width 100%

// 内联元素
._di {display: inline;}
// 块元素
._db {display: block;}
// 内联块元素
._dib {display: inline-block;}
// 内容超出隐藏
._oh {overflow: hidden;}


// ========== 盒子常用 ========== start
// 盒子
._df {display: flex;}
// 内联盒子
._dif {display: inline-flex;}
// 水平方向轴线 (默认)
._fdr {flex-direction: row;}
// 垂直方向轴线
._fdc {flex-direction: column;}
// 盒子水平自动宽度撑满
._flexXauto {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
}
// 盒子垂直自动高度撑满
._flexYauto {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}
// 内容-紧密-分布 - 不可用于居中
._jcc {justify-content: center;}
// 内容-贴边-平均-分布
._jcsb {justify-content: space-between;}
// 内容-平均-分布
._jssa {justify-content: space-around;}
// 轴线-居中
._aic {align-items: center;}
// 轴线-居底
._aife {align-items: flex-end;}
// 自动换行 多行+起始位置
._fwwacf {flex-wrap: wrap; align-content: flex-start;}
// 子元素-居中
._asc {align-self: center;}
// 子元素-居底
._asfe {align-self: flex-end;}
// 子元素-填充
._ass {align-self: stretch;}
// ========== 盒子常用 ========== end

// ========== 文本常用 ========== start

// -----------------------------------强制不换行
// normal	默认。空白会被浏览器忽略。
// pre	空白会被浏览器保留。其行为方式类似 HTML 中的 <pre> 标签。
// nowrap	文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。
// pre-wrap	保留空白符序列，但是正常地进行换行。
// pre-line	合并空白符序列，但是保留换行符。
// inherit	规定应该从父元素继承 white-space 属性的值。
._wsn {white-space: nowrap;}
// -----------------------------------文本换行(元素不换行)
// normal 使用浏览器默认的换行规则。
// break-all 允许在单词内换行。
// keep-all 只能在半角空格或连字符处换行。
._wbba {word-break: break-all;}
// -----------------------------------文本换行(元素另起一行)
// normal 只在允许的断字点换行（浏览器保持默认处理）。
// break-word 在长单词或 URL 地址内部进行换行。
._wwbw {word-wrap: break-word;}
// 文本超出省略号(需配合overflow: hidden)
._toe {text-overflow: ellipsis;}

// 去掉文字省略号
._noRowHide{
  display: inline-block;
  overflow: visible;
  white-space: normal;
  text-overflow: clip;
}
// 文字一行省略号
._ownRowHide{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
// 文字二行省略号
._twoRowHide{
	// line-height: 12px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	//  autoprefixer: off
	-webkit-box-orient: vertical;
	//  autoprefixer: on
	word-break: break-all;
}
// ========== 文本常用 ========== end

// 清除<input>标签属性
._reInput {
  outline: none;
  background: transparent;
  border: none;
  outline: medium;
}
// 清除<a>标签属性
._clear-a
  text-decoration none
  &:hover
    color #000 //鼠标划过链接
  &:active
    color #000 //已选中的链接
  &:visited
    color #000 //已访问的链接
  &:link
    color #000 //未访问的链接

// ------------------------- 公共组件 -------------------------

// 清除浮动
._clear{clear:both; height: 0; line-height: 0; font-size: 0}

// 公共组件-容器
._content
  margin 0 auto
  min-width 320px
  max-width 540px
  background-color #fff

// 公共组件-空行空格
._framebox{
  height: 10px;
}
._framebox-20{
  height: 20px;
}
._framebox-30{
  height: 30px;
}

// 公共组件-按钮
._button {
  // border-color: #b2b2b2;
  border-color: #ddd;
  background-color: #f8f8f8;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 22px;
  min-height: 42px;
  border-width: 1px;
  border-style: solid;
  // border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  cursor: pointer; 
  overflow: hidden;
}
  ._button:hover {
    color: #444;
    text-decoration: none; }
  ._button:active{
    border-color: #ccc;
    background-color: #fafafa;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }

._buttonB
	cursor pointer
	color #666
	user-select none
	transition background-color 150ms, color 300ms
	&:hover
		color #000
		background-color rgba(0,0,0,0.13) !important
	&:active
		color #fff
		transition color 50ms
	


// 公共UI组件 - 表格
._UI-table
  margin 10px 0 16px
  // width 900px
  &>:first-child
    padding-right 10px
    text-align right
  &>:last-child
    padding-left 10px
  h2
    // color #777
  .ui-t-note
    color #999
    font-size 12px
    margin 0
  .ui-t-noteB
    color #FF0000
    font-size 12px
    margin 0
  canvas
    margin 0 auto
    background-color #bbb
    border 1px solid #aaa
.ui-t_title
  margin-top 60px
  margin-bottom 30px
  div
    border-bottom: 3px solid #ddd
  &>:first-child
    border none
  &>:last-child
    border none
  &:first-child
    margin-top 0




// 公共UI组件 - 遮罩
._UI-mask
  position absolute
  width 100%
  height 100%
  display flex
  background-color rgba(0,0,0,0.3)
  z-index 10
  .ui-m-box
    margin auto
    padding 20px
    width 400px
    border-radius 10px
    background-color #fff
    box-shadow: 0 0 15px rgba(0,0,0,0.4)
    p
      margin 10px 0
      text-align center
    .anticon
      margin 20px auto
      display block
      font-size 24px
    .ant-btn
      margin 0 auto
      display block




// ------------------------- 公共方法 -------------------------


