// 全局变量/方法的定义 - 会被注入到每个页面 - 不要把常用class放在这里


mainCl = #03a6ff
mainCl_b = #3d8fec
mainCl_C = #2196F3
lineCl = #eee

._clear-a
  text-decoration none
  &:hover
    color #000 //鼠标划过链接
  &:active
    color #000 //已选中的链接
  &:visited
    color #000 //已访问的链接
  &:link
    color #000 //未访问的链接