// 全局CSS 变量/方法

black_ = #444
white_ = #fff

Success_Dodge = rgba(68, 204, 0, 0.5)
Info_Dodge = rgba(74, 144, 226, 0.5)
Warning_Dodge = rgba(255, 189, 23, 0.5)
Error_Dodge = rgba(234, 90, 73, 0.5)
Dark_Dodge = rgba(72, 71, 70, 0.5)
Calm_Dodge = rgba(181, 181, 181, 0.5)
Stable_Dodge = rgba(245, 245, 245, 0.5)
Light_Dodge = #F5F5F5

Success_ = #44CC00
Info_ = #4A90E2
Warning_ = #FFBD17
Error_ = #EA5A49
Dark_ = #484746
Calm_ = #B5B5B5
Stable_ = #F5F5F5
Light_ = #FFFFFF

Success_Focus = #339900
Info_Focus = #2275d7
Warning_Focus = #e3a200
Error_Focus = #e5311b
Dark_Focus = #9c9c9c
Calm_Focus = #2e2e2d
Stable_Focus = #ededed
Light_Focus = #eeeeee

// ---------------

Assertive_ = #EA5A49
Positive_ = #4A90E2
Balanced_ = #44CC00
Energized_ = #FFBD17
// Calm_ = #11C1F3
// Dark_ = #484746
// Royal_ = #B5B5B5
// Stable_ = #F5F5F5
// Light_ = #FFFFFF

Assertive_Focus = #e5311b
Positive_Focus = #2275d7
Balanced_Focus = #339900
Energized_Focus = #e3a200
// Calm_Focus = #0a9dc7
// Dark_Focus = #9c9c9c
// Royal_Focus = #2e2e2d
// Stable_Focus = #ededed
// Light_Focus = #eeeeee